<!DOCTYPE html>
<html>
<head>		
  <script type="text/javascript" src="js/cloudchat.js"></script>	
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script type="text/javascript">
    CloudChat.api.loaded(function(){
      $("#chat-messagetextbox").keyup(function(event){
          if(event.keyCode == 13){
              $("#chat-sendbutton").click();
          }
      });

      $("#chatdialog-openroomtextbox").keyup(function(event){
          if(event.keyCode == 13){
              $("#chatdialog-openroombutton").click();
          }
      });

      $("#chat-openbutton").click(function(event){
          var mainView = $("#chat-mainView").find("tr:first").find("td:first");
          var mainViewPosition = mainView.position();
              
          $("#chatdialog-openroom").css({ position: "absolute",
              marginLeft: 0, 
              marginTop: 0,
              top: mainViewPosition.top + (mainView.height() / 2) - $("#chatdialog-openroom").height(), 
              left: mainViewPosition.left + (mainView.width() / 2)
          });

          $("#chatdialog-openroomtextbox").val("");
          $("#chatdialog-openroom").show();
      });

      CloudChat.EventManager.subscribe("roomopened",function(room){ 
          setTimeout(function(){
              $("#chatdialog-openroom").hide();
          },50);
      });

      CloudChat.EventManager.subscribe("receivedmessage",function(message){            
          setTimeout(function(){
              var $target = $('#chat-messsages'); 
              $target.animate({scrollTop: $target.height()}, 1000);
              setTimeout(function(){
                  $target.stop();
              },1500);                    
          },50);
      });

      CloudChat.EventManager.subscribe("loggedin",function(user){  
          setTimeout(function(){
              CloudChat.EventManager.publish("openroom",{ name: "home", active: true } );                
          },10);                                      
      });

      CloudChat.EventManager.subscribe("loginfailed",function(provider){
          console.error("Failed to login with",provider);
      });
    });               
  </script>
  <meta charset="utf-8" />
</head>
<body>    
  <div id="cloudchatcontainer" style="width: 700px; height: 350px; ">
    <div data-ng-style="{ \'display\': loggedin && \'none\' || \'table\' }" id="chat-loginView" data-ng-controller="CloudChat.LoginController" style="display: table; text-align: center;width: 100%; height: 100%; border: 1px solid gray">
        <h3 style="display: table-cell; vertical-align: middle;">Cloud Chat login with:</h3>
        <div style="display: table-cell; vertical-align: middle;">
            <span data-ng-click="login(\'facebook\')" style="cursor: pointer; display: inline-block;padding: 15px; width: 75px; height: 20px;border: 1px solid gray">facebook</span>
        </div>
        <div style="display: table-cell; vertical-align: middle;">
            <span id="googleLoginButton" data-ng-click="login(\'google\')" style="cursor: pointer;display: inline-block;padding: 15px; width: 75px; height: 20px;border: 1px solid gray">google+</span>
        </div>
        <div style="display: table-cell; vertical-align: middle;">
            <span data-ng-click="login(\'guest\')" style="cursor: pointer;display: inline-block;padding: 15px; width: 75px; height: 20px;border: 1px solid gray">guest</span>
        </div>
     </div>

    <table data-ng-show="loggedin" data-ng-controller="CloudChat.LoginController" id="chat-mainView" style="display: none;width: 100%; height: 100%; border-collapse: collapse; border: 1px solid gray">
        <tr style="padding: 0;">
            <td style="padding: 0;height: 100%;border: 1px solid gray; vertical-align: bottom;">
                <div id="chat-messsages" data-ng-controller="CloudChat.ChatController" style="height: 100%; width: 100%; position: relative;bottom: 0px; overflow: auto;">
                    <ul style="font-size:14px; list-style-type: none; margin-left: -38px; margin-top: 0px">                    
                      <li data-ng-repeat="message in currentRoomMessages">
                          {{ message.timestamp | date:"HH:mm:ss" }} <span style="color: blue">{{ message.user }}</span> : {{ message.content }}
                      </li>                    
                    </ul>                    
                </div>
            </td>
            <td data-ng-controller="CloudChat.UsersController" style="padding: 0;width: 150px; border: 1px solid gray; vertical-align:text-top;">
              <ul style="list-style-type: none; margin-left: -38px; margin-top: 0px">                    
                  <li style="margin-left: 2px; margin-right: 2px; margin-top: 10px; background-color: #dddddd" data-ng-repeat="user in users">
                      <img style="vertical-align:middle;" src="http://www.experienceourenergy.com.br/public/img/interface/icon-facebook.png" data-ng-show="user.provider == \'facebook\'" ></img> 
                      <img style="vertical-align:middle;" src="http://www.videosoft.com.br/images/icn_google.png" data-ng-show="user.provider == \'google\'"></img> 
                      <img style="vertical-align:middle;" src="http://icons.iconarchive.com/icons/jeanette-foshee/simpsons-05/24/Simpsons-Family-Young-Abe-Simpson-icon.png" data-ng-show="user.provider == \'guest\'"></img> 
                      <a target="_blank" style="vertical-align:middle;text-decoration: none; color:inherit;" href="{{ user.link }}">{{ user.name }}</a>
                  </li>
              </ul>  
            </td>
        </tr>
        <tr style="padding: 0;" ng-model="user" data-ng-controller="CloudChat.UserController">
            <td style="padding: 0; border: 1px solid gray; padding: 0px 2px 0px 2px">
                <input id="chat-messagetextbox" ng-model="messageText" placeholder="Type your message here" type="text" style="border: 0px solid; width: 100%; outline: 0; " />
            </td>
            <td id="chat-sendbutton" data-ng-click="send()" style="cursor: pointer;padding: 0; border: 1px solid gray;text-align: center; ">
                Send
            </td>
        </tr>
        <tr data-ng-controller="CloudChat.RoomsController">
            <td style="height: 20px">
              <ul style="list-style-type: none; margin-left: -30px; margin-top: 0px; padding-right: 32px; padding-left: 32px;">                    
                  <li data-ng-style="{ \'background-color\': room.active && \'gray\' || \'white\', \'color\': room.active && \'white\' || \'black\' }" class="cloudchatroom" style="cursor: pointer; cursor: hand; border: 1px solid gray; float: left; padding-left: 5px; padding-right: 5px; margin-right: 5px" data-ng-repeat="room in rooms">
                      <span data-ng-click="open(room)">{{ room.name }}</span> <span data-ng-click="close(room)">x</span>
                  </li>                    
              </ul>
            </td>
            <td id="chat-openbutton" style="cursor: pointer;padding: 0; border: 1px solid gray;text-align: center; ">
                Open
                <div id="chatdialog-openroom" style="position: absolute; padding: 5px; border: 1px solid black; width: 250px; height:80px; display: none; background-color: white">
                      <div>Open room</div></br>
                      <input id="chatdialog-openroomtextbox" ng-model="roomname" placeholder="Type room name here" type="text" style="border: 1px solid black; width: 200px; outline: 0; " />
                      <span id="chatdialog-openroombutton" data-ng-click="open(roomname)" style="border: 1px solid black; padding-left: 5px; padding-right:5px">open</span>
                </div>  
            </td>                     
        </tr>            
    </table>
  </div>
</body>
</html>
